#footer.container-flow
    +_anchor(0)(class='playinfo')
        .img
            img(src='assets/img/album.png')
            i.fa.fa-angle-double-up
            i.fa.fa-angle-double-down
        h1.title.txt Music Box Dancer
    .track(data-curtime='00:00',data-duration='12:02')
        .track-default
        .track-buffered
        .track-played
    
    ul.playset.list-inline
        li: +_anchor('0',title='上一首'): i.fa.fa-step-backward 
        li: +_anchor('0',title='播放'): i.fa.fa-play 
        li: +_anchor('0',title='下一首'): i.fa.fa-step-forward
        li.loop.dropdown.open
            +_anchor(0): i.fa.fa-refresh
            ul.arrow.arrow-down
                li.active: +_anchor('0')
                    i.fa.fa-refresh
                    |列表循环
                li: +_anchor('0')
                    i.fa.fa-repeat
                    |单曲循环
                li: +_anchor('0')
                    i.fa.fa-long-arrow-right
                    |顺序播放
                li: +_anchor('0')
                    i.fa.fa-random 
                    |随机播放	
        li.volume.dropdown
            +_anchor('0',title='音量'): i.fa.fa-volume-up 
            ul.arrow.arrow-down
                li.vol-track
                    .vol-cover
        li: +_anchor('0',title='调音'): i.fa.fa-sliders
