$height-footer=3rem
#footer
    position:fixed
    left:0
    bottom:0
    width:100%
    height: $height-footer
    z-index: 5
    background-color: color-background-head
    box-shadow: 0 (- offset-shadow-light) width-shadow-light color-shadow-light
    .playinfo
        position:relative
        height:$height-footer
        line-height:$height-footer
        display:block
        flex:0 0 auto
        i
            opacity:0
            top:0
            left:0
            height:$height-footer
            width: @height
            background-color:rgba(color-default,60%)
            position:absolute
            color:#fff
            font-size: 2rem
            text-align: center
            line-height: $height-footer
        h1.title
            text-align:center
            width: calc(100% - $height-footer)
    .playinfo:hover
        background-color:color-background-grey
        i.fa-angle-double-up
            opacity:1
    .playinfo
    .playinfo i
        transition:all .1s ease-in

    .playtrack
        flex:1 1 auto
        semimargin:($pw = 4em)
        position:relative
        &::before
        &::after
            position:absolute
            height:1.6em
            top:50%
            width:$pw
            margin-top: - (@height / 2)
            text-align: center
        &::before
            content:attr(data-curtime)
            left: - $pw
        &::after
            content:attr(data-duration)
            right: - $pw
        .track-buffered
            width:60%
            background-color:lightness(color-border,65%)
        .track-played
            width:40%

    ul.playset
        flex:0 0 auto
        font-size:1.5rem
        & > li
            width:2.5rem
            padding:0
            text-align:center
        li.loop .content
            width:8rem
            margin-left:- (@width / 2)
        li.volume .content
            width:3rem
            margin-left: (- @width / 2)
            .voltrack
                width:.2rem
                margin:base-gap auto
                height:8rem
#footer.active
    //background-color:transparent
    //color:#ddd
    //box-shadow: none
    .playinfo
        background-color:color-active
        color:white
    .playinfo i.fa-angle-double-down
        opacity:1
    .playinfo:hover i.fa-angle-double-up
        opacity:0
