#top-bar
    position:fixed
    top:0
    left:0
    width:100%
    z-index:4
    background-color: color-background-head
    height: 2.5rem
    line-height: 2.5rem
    box-shadow: 0 ($shadow-offset = offset-shadow-light) ($shadow-width = width-shadow-light) color-shadow-light
    ul.nav > li
        color:color-text-hint
    ul.nav > li.active
        color: color-text-default
    ul.tool
        font-size: 15px
    .input-prefix
        height: 1.5rem
        margin-top: -((@height - @line-height)/2)
        semimargin: base-gap
        float:left
        @media mq-small
            display:none
