#body .sidebar
  float: left
  width: 25%
  height:100%
  //box-shadow: - offset-shadow-light 0 width-shadow-light color-shadow-light inset
  padding:.5rem 1rem
  font-size:12px
  text-shadow 1px 1px 2px #fff
  .category
    margin-bottom: 1em
    ol.entry
      semimargin:-1rem
      counter-reset: item
      a
        display:block
        cursor:pointer
      & > li
        margin-bottom: 0.4rem
        display:block
        semipadding:1rem
        border-top-width:1px
        cursor:pointer
        & a::before
          content: counter(item)
          counter-increment:item
          margin-right: .5em
          color: color-text-hint
        &:hover a::before
          color:color-text-active
        &.active
          @extend .arrow
          @extend .arrow-right-reverse
          a,a::before
            color:color-text-active
          &::after
            border-color: transparent color-background-body
            box-shadow: 2px 0 0 color-background-body;
          box-shadow:0 0 (width-shadow-light/2) color-shadow-light inset
          background-color:lightness(color-background-body,90%)
