html, body,
#wrapper, #page,
#page > .row {
    height: 100%;
}

a {
    outline: none;
    color: #767676;
    text-decoration: none;
}

.navbar {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.21);
}

.navbar-btn {
    margin-right: 16px;
    display: block;
    float: left;
    outline: none;
}

.navbar-btn:focus {
    outline: none;
}

#user-profile {
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

#user-profile img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    background: url('../img/avater.jpg') no-repeat;
    background-size: cover;
}

#user-profile p {
    margin: 0;
    display: inline-block;
}

#menugo-0 span, #menugo-1 span {
    margin-right: 10px;
}

ul.win-control > li > a {
    padding-left: 10px;
    padding-right: 10px;
}

#page {
    padding-top: 50px;
    padding-bottom: 60px;
}

div#main {
    position: relative;
}

.list {
    height: 100%;
    min-height: 100%;
    overflow: auto;
    width: 100%;
}

.list .twrap {
    padding: 0 15px;
}

.list {
    padding-left: 25%;
}

#sidebar {
    background-color: #f8f8f8;
    display: block;
    padding: 0;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    border-right: 1px solid #eee;
    position: absolute;
    top: 0;
    right: 75%;
    width: 25%;
}

#entry {
    height: 100%;
    min-height: 100%;
    padding-left: 10px;
    padding-right: 9px;
    overflow-y: auto;
    padding-bottom: 30px;
}

#entry::-webkit-scrollbar-track-piece {
    background-color: #f8f8f8;
    -webkit-border-radius: 0;
}

#entry::-webkit-scrollbar {
    width: 2px;
}

#entry::-webkit-scrollbar-thumb {
    background-color: #999;
    -webkit-border-radius: 4px;
}

#entry::-webkit-scrollbar-thumb:hover {
    background-color: #767676;
}

#entry::-webkit-scrollbar-track {
    margin-bottom: 30px;
}

.plts-group {
    margin-top: 20px;
}

.plts-title {
    font-size: 13px;
    color: #A5A3A3;
    padding-bottom: 5px;
    /*border-bottom: 1px solid #ddd;*/
    padding-left: 15px;
}

.nav-sidebar {
    height: 100%;
    /*border-top: 1px solid #dddddd;*/
}

.nav-sidebar > li {
    border-radius: 3px;
}

.nav-sidebar > li > a {
    font-size: 13px;
    line-height: 13px;
    padding: 8px 16px;
    border-radius: 3px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.nav-sidebar > li > a:focus,
.nav-sidebar > li > a:hover {
    color: #767676;
}

.nav-siderbar a {
    position: relative;
}

.nav-sidebar a div.name {
    margin-right: 62px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-sidebar a div.limark {
    position: absolute;
    right: 5px;
    top: 6px;
}

.nav-sidebar a span.glyphicon {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-sidebar a span.badge {
    float: right;
    background: #767676;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
    padding: 2px 7px;
}

.nav-sidebar li.active a span.badge {
    background: #fff;
    color: #428BCA;
}

#ptls-tools {
    position: absolute;
    background: #eee;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    padding-left: 15px;
    padding-right: 16px;
    text-align: right;
    color: #767676;
    line-height: 30px;
}

#ptls-tools span {
    margin-right: 5px;
    margin-left: 5px;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.loading {
    -webkit-animation: loading 1500ms infinite linear;
}

@media (max-width: 840px) {
    .list {
        padding-left: 0 !important;
    }

    #open-side, #sidebar {
        display: none;
    }
}

.list::-webkit-scrollbar {
    width: 10px;

}

.list::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #9d9d9d;
}

.list::-webkit-scrollbar-thumb:hover {
    background-color: #767676;
}

.list::-webkit-scrollbar-track-piece {
    background-color: #d5d5d5;
}

.list::-webkit-scrollbar-track {
    backgroud-color: #d5d5d5;
}

#settings .panel,
#about .panel {
    margin: 50px auto 0 auto;
    width: 80%;
}

#footer {
    position: fixed;
    bottom: 0;
    z-index: 1500;
    width: 100%;
    background: #262626;
}

#page .list table a:hover,
#page .list table a:focus {
    color: #d9534f;
}

#page .list table > thead {
    white-space: nowrap;
}

#page .list table > tbody > tr > td:last-child {
    width: 81px;
}

#page .list table .dropdown-menu {
    right: 0;
    left: inherit;
}

#page .list table .dropdown-menu a:hover,
#page .list table .dropdown-menu a:focus {
    color: #000000;
}

#page .list table a {
    outline: none;
    text-decoration: none;
}

#page .list table td > a {
    margin-left: 10px;
}

#footer a {
    color: #fff;
    outline: none;
    text-decoration: none;
}

#footer a:hover {
    color: #BDBDBD;
}

#footer .audio-control,
#footer .audio-adjust {
    line-height: 60px;
    font-size: 24px;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    margin-top: 2px;
    min-width: 138px;
}

#footer .audio-control #open-side {
    /*margin-right: 10px;*/
}

#footer .audio-adjust a {
    margin-right: 5px;
}

#vol-pop {
    z-index: 1501;
}

#footer .audio-body {
    color: #fff;
}

#footer .audio-body .media-left,
#footer .audio-body .media-body {
    display: block;
    height: 60px;
}

#footer .audio-body .media {
    overflow: visible;
}

#footer .audio-body .media-left {
    position: absolute;
    top: 6px;
}

#footer .audio-body .media-body {
    width: 100%;
    padding-left: 65px;
    position: relative;
    overflow: visible;
}

#footer .audio-body .media-left a {
    display: block;
    width: 50px;
}

#footer .audio-body img {
    width: 50px;
    height: 50px;
    background: none;
    border-width: 0;
    padding: 0;
    vertical-align: middle;
}

#footer .audio-body .media-heading {
    margin-top: 12px;
    margin-bottom: 5px;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding-right: 85px;
}

#footer .audio-body .media-time {
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
}

#footer #progress {
    width: 100%;
    margin-top: -10px;
}

#footer #progress .slider-track {
    -webkit-box-shadow: 0 1px 0 0px #424242,
    0 1px 0 #060607 inset,
    0px 2px 10px 0px black inset,
    1px 0px 2px rgba(0, 0, 0, 0.4) inset,
    0 0px 1px rgba(0, 0, 0, 0.6) inset;
    /*margin-top: 2px;*/
    background-image: none;
    width: 100%;
    border-radius: 15px;
}

#footer #progress .slider-selection {
    background: none repeat scroll 0 0 #9CA2A5;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#footer #progress .slider-handle {
    margin-left: -7px;
    margin-top: -2px;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    cursor: default;
    background: none repeat scroll 0 0 #777;
    -webkit-box-shadow: 0 -1px 1px black inset;
}

#footer .mini-tool {
    display: none;
}

#footer {
    min-width: 560px;
}

/* 500*60 */
@media (max-width: 560px) {
    #page {
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar {
        display: none;
    }

    #footer .mini-tool {
        display: block;
        float: left;
        color: white;
        margin-left: 20px;
        line-height: 60px;
        font-size: 16px;
    }

    #footer .audio-control {
        float: left;
    }

    #footer .media {
        float: left;
        padding-left: 15px;
        width: 350px;
    }

    #footer .audio-adjust {
        display: none;
    }
}

input[type="range"] {
    -webkit-appearance: none;
    border-radius: 4px;
    background: #E7E7E7;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background: #5e5e5e;
}

input[type="range"]:focus {
    outline: none;
}

