// Colors
color-default = #000//
color-background-panel=#fff
color-background-head=#fafafa
color-background-body=#efefef
color-background-body-hover=lightness(color-background-body,88%)
color-background-btn-inactive=#e6e6e6
//color-default = #555
color-grey = #767676
color-active = #66AFE9//
//color-widget-background = #ddd
color-border = #c4c4c4//
color-border-dark = #adadad
color-text-default = #666//
//color-text-inactive = lightness(color-text-default,40%)
color-text-active = #000

// Fonts
font-sans =  Helvetica, "思源黑体 CN", "文泉驿微米黑", Arial, "Microsoft Yahei", sans-serif
font-size = 14px
line-height = 1.6em

// gap
base-gap = 1em
half-gap = base-gap/2
// Media queries
mq-small = "screen and (max-width: 768px)"
mq-medium = "screen and (min-width: 769px) and (max-width: 991px)"
mq-large = "screen and (min-width: 992px)"
