* {
  margin: 0
  padding: 0
  box-sizing: border-box
}

a
  color: color-text-default
  outline: none
  text-decoration: none
  &:hover
    color: color-text-active
a.button
  display:inline-block
  background-color: white
  padding: 0.2rem 1rem
  border: 1px solid color-border
  border-radius: 4px
  white-space:nowrap
  cursor:pointer
  &:hover,&:focus
    border-color: color-border-dark
    background-color: color-background-btn-inactive
.right
  float:right
.left
  float:left
.clearfix
  &:after
    content: ''
    clear:both
    display:table
// .container
//   semipadding: base-gap horizon
//   semimargin: auto horizon
//   @media mq-large
//     width:1170px
//   @media mq-normal
//     width: 970px
//   @media mq-small
//     width: 750px
// .container-fluid
//   width: 100%
//   semipadding: base-gap
.container-row
  width: 100%
  @extend .clearfix
.container-flow
  width:100%
  display:flex
  justify-content:space-between
  align-items:center

.row
  @extend .clearfix
  margin: base-gap -(base-gap)

.txt
  overflow:hidden
  text-overflow:ellipsis
  white-space:nowrap

h1.title
  font-weight: normal
  font-size: 1.2rem
  semipadding: base-gap

ul > li
  list-style:outside none none
ul.list-inline
  & > li
    display:inline-block
    vertical-align:middle
    semipadding: base-gap
  &.list-seperator > li + li
    border-left: 1px solid color-border
.dropdown
  // display:inline-block
  // vertical-align:middle
  position:relative
  overflow:visible
  & > ul
    display:none

.dropdown.open > ul
  display:block
  position:absolute
  font-size:14px
  width:8em
  left:50%
  bottom:100%
  text-align:center
  margin-left: (- @width / 2)
  margin-bottom: .8em
  background-color: color-background-panel
  background-clip: padding-box
  border: 1px solid color-border
  border-radius: 4px
  semipadding: @border-radius vertial
  box-shadow: 0px -6px 12px color-border
  z-index:5
  & > li
    list-style:outside none none
    a
      display:block
      padding:  0.2em 1em
      white-space:nowrap
      cursor:pointer
      &:hover
        background-color: #F5F5F5
        color:#262626

$arrow-size = 11px
.arrow
  position:relative
  &::before,&::after
    content:''
    position:absolute
    border-style:solid
.arrow-down::before
.arrow-down::after
  bottom: - $arrow-size
  left:50%
  margin-left: @bottom
  border-width: - @bottom
  border-bottom-width: 0 !important
  border-color: color-border transparent
.arrow-down::after
  bottom: -($arrow-size - 1)
  margin-left: @bottom
  border-width: - @bottom
  border-color: white transparent

.arrow-right-reverse
  &::before,&::after
    right: 0
    top:50%
    margin-top: - $arrow-size
    border-width: - @margin-top
    border-left-width:0 !important
    border-color:transparent color-border
  &::after
    right: 0
    margin-top: -($arrow-size - 1)
    border-width: - @margin-top
    border-color:transparent color-background-panel

.arrow-bottom-reverse
  &::before,&::after
    bottom:0
    left:50%
    margin-left: - $arrow-size
    border-width: - @margin-left
    border-top-width: 0 !important
    border-color: color-border transparent
  &::after
    bottom:0
    margin-left: -($arrow-size - 1)
    border-width: - @margin-left
    border-color: color-background-panel transparent

input
  display:block
  padding:.2rem
  color: #555
  background-color: white
  border: 1px solid color-border
  border-radius: 4px
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s
  &:focus
    border-color: color-active
    outline:0 none
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6)

.input-prefix
  position:relative
  font-size:.8em
  input
    padding-left:1.5em
    height:100%
    width:100%
  i
    color: color-text-default
    absolute-center(left:1em,height:1em,width:1em)
