//reset
*
    margin: 0
    padding: 0
    box-sizing: border-box

a
    display:inline-block
    color:inherit
    outline: none
    text-decoration: none

ul > li
    list-style:outside none none

img
    height:100%

//utility
.right
    float:right

.left
    float:left

.clearfix
    &:after
        content: ''
        clear:both
        display:table

.noAnimate *
    transition-duration:0s !important

.hidden
    display:none

.txt
    overflow:hidden
    text-overflow:ellipsis
    white-space:nowrap

.slim-scrollbar
    overflow-y:auto
    margin-right: 3px
    //overwrite scrollbar
    &::-webkit-scrollbar
        width:6px
    &::-webkit-scrollbar-track
        semimargin:.5rem vertial
    &::-webkit-scrollbar-thumb
        border-radius:10px
        background-color:rgba(color-border,.6)
        transition:all .1s ease-in
        &:hover
            background-color:color-border

.hide-scrollbar
    overflow-y:auto
    &::-webkit-scrollbar
        width:0


//component
.panel
    margin-bottom:2*base-gap
    background-color:color-background-panel
    //box-shadow:1px 1px 3px rgba(color-default,30%)
    // border-top:1px solid color-border
    // border-left:1px solid color-border
    -webkit-filter:drop-shadow(2px 2px 2px rgba(color-default,30%))
.panel .heading
    background-color:color-background-grey
    line-height:2.5rem

.media
    img
        background-color:color-background-grey
        vertical-align:top
    .media-body
        display:inline-block
        vertical-align:top

.button
    display:block
    background-color: color-background-grey
    line-height:2em
    semipadding: base-gap
    border: 1px solid color-border
    //border-radius: 4px
    white-space:nowrap //I prefer to avoid breaking line
    cursor:pointer
    &:hover,&:focus
        background-color: color-background-grey
    &.active,&:active
        color: white
        border-color: color-active
        background-color: color-active

.btn-group
    @extend .clearfix
    border:1px solid color-border
    .button
        line-height:inherit
        float:left
        border-width:0
    .button:nth-of-type(n+2)
        border-left-width:1px

.container-row
    width: 100%
    @extend .clearfix

.container-flow
    width:100%
    display:flex
    justify-content:space-between
    align-items:center

h1.title
    font-weight: normal
    font-size: 1.2rem
    semipadding: base-gap

ul.list-inline > li
    display:inline-block
    //vertical-align:middle
    semipadding: base-gap

ul.list-seperator > li
    position:relative
    &:nth-of-type(n+2)::before
        position:absolute
        left:-1.5px
        content:'|'
        color:color-border

ul.list-prefix  a
    display:table-cell
ul.list-prefix > li
    margin-bottom:.5rem
    &::before
        content:attr(data-item) ':'
        display:table-cell
        min-width:5rem
        font-weight: bold

ul.list-menu
    text-align:center
    font-size:14px
    & > li a
        display:block
        padding: 0.2em 1em
        white-space: nowrap
        cursor:pointer
        &:hover
        &:active
            background-color:color-active
            color:white
    & > li i
        margin-right:.5rem

table
    width:100%
    font-size:17px
    color: color-text-default
    tr
      td,th
        line-height: 1em
        font-size: 0.77778em
        padding: 0.5em 0.55556em
        @extend .txt
      th
        font-weight: bold
        background-color: color-background-grey
        padding: 0.44444em 0.55556em 0.55556em
    tbody tr
        cursor:pointer
        &:hover *
            color:color-text-active
        &.active
            background-color:color-active !important
        &.active *
            color:white
table.stripe tbody tr:nth-of-type(2n)
    background-color:#f5f5f5
table.index
    counter-reset: item
    td.index::before
        content:counter(item)
        counter-increment:item
        color: color-text-hint

.track
    position:relative
    height: .2rem
    width:100%
    background-color:color-border
    & > *
        position:absolute
        height:100%
        left:0
        cursor:pointer
        transition:all .2s ease-in-out
    .track-cover
        background-color:color-active
    .track-cover::after
        content:''
        position:absolute
        width:.8rem
        height: @width
        right:0
        top:0
        margin-top:- ((@height -  .2rem)/2)
        margin-right: - (@width / 2)
        border-radius:50%
        background-color:#64B5F6
        box-shadow: 0 0 2px color-active
        transition:all .2s ease-in-out
    .track-cover:hover::after
        transform:scale(1.2,1.2)

.track.vertial
    height:100%
    width:.2rem
    & > *
        bottom:0
        width:100%
    .track-cover::after
        margin-top: -.4rem
        margin-right:- ((.8rem - .2rem)/2)



.dropdown
    position:relative
    overflow:visible
    & > .content
        display:none

.dropdown.open > .content
    display:block
    position:absolute
    left:50%
    bottom:100%
    width:8em
    margin-left: (- @width / 2)
    margin-bottom: 0.8rem
    background-color: color-background-panel
    color: color-text-default
    border: 1px solid color-border
    box-shadow: 0px (- offset-shadow-light) width-shadow-light color-shadow-light
    z-index:5

$arrow-size = 11px

.arrow
    position:relative
    &::before,&::after
        content:''
        position:absolute
        border-style:solid

.arrow-down
    @extend .arrow
    &::before
    &::after
        bottom: - $arrow-size
        left:50%
        margin-left: @bottom
        border-width: - @bottom
        border-bottom-width: 0 !important
        border-color: color-border transparent
    &::after
        bottom: -($arrow-size - 1)
        margin-left: @bottom
        border-width: - @bottom
        border-color: white transparent


input
    display:block
    padding:.2rem
    background-color: #f4f4f4
    border: 1px solid color-border
    //border-radius: 2px
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s
    &:focus
        border-color: color-active
        outline:0 none
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6)

.input-prefix
    position:relative
    font-size:.8em
    input
        padding-left:1.5em
        height:100%
        width:100%
    i
        color: color-text-default
        absolute-center(left:1em,height:1em,width:1em)
