@import "variables"
@import 'mixin'
@import 'common'
html
  font: font-size/line-height font-sans
body
  background-color: color-background-body
  color: color-text-default
  //to avoid covered by navtopbar
  padding-top:2.5rem
  padding-bottom:3rem
html, body, #body
  height 100%

@import 'partial/*'
