@import "variables"
@import 'mixin'
@import 'common'
html
    font: font-size/line-height font-sans

body
    background-color: color-background-body
    color: color-text-default
    padding-top:2.5rem
    padding-bottom:3rem

html, body, #body
    height 100%
    overflow: hidden
    background-color: color-background-body
    
@import 'partial/*'
