@import "variables"
@import 'mixin'
@import 'common'
html
  font: font-size/line-height font-sans
body
  background-color: color-background-body
  color: color-text-default
  //to avoid covered by navtopbar
html, body, #body
  height 100%
  overflow: hidden
#titlebar
  position:fixed
  top:0
  left:0
  width:100%
  z-index:5
#frame
  position:relative
  height: 100%
  padding:calc(2rem + 24px) 3px 3rem 3px
  background-color: color-background-body
@import 'partial/*'
