// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
hide-text()
  text-indent: 100%
  white-space: nowrap
  overflow: hidden

// http://codepen.io/shshaw/full/gEiDt
absolute-center(width, height = width,top = 50%,left = 50%)
  width: width
  height: height
  position: absolute
  top: top
  left: left
  margin-top: height * -0.5
  margin-left: width * -0.5

avoid-column-break()
  vendor("column-break-inside", avoid, only: webkit)
  page-break-inside: avoid // for firefox
  overflow: hidden // fix for firefox
  break-inside: avoid-column


semimargin(val,dir='horizon')
  if dir is 'vertial'
    margin-top: val
    margin-bottom: val
  else
    margin-left: val
    margin-right: val

semipadding(val,dir='horizon')
  if dir is 'vertial'
    padding-top: val
    padding-bottom: val
  else
    padding-left: val
    padding-right: val
    
arrow-right-reverse($bgcolor,$arrow-size = 11px,$offset = 0)
    @extend .arrow
    &::before
    &::after
        right: 0
        top:50%
        margin-top: - $arrow-size
        border-width: - @margin-top
        border-left-width:0 !important
        border-color:transparent color-border
    &::after
        right: - 2* ($offset + 1px)
        margin-top: - ($arrow-size + $offset + 1px)
        border-width: - @margin-top
        border-color:transparent $bgcolor

arrow-bottom-reverse($bgcolor,$arrow-size = 11px,$offset = 0)
    @extend .arrow
    &::before
    &::after
        bottom:0
        left:50%
        margin-left: - $arrow-size
        border-width: - @margin-left
        border-top-width: 0 !important
        border-color: color-border transparent
    &::after
        bottom: - 2 * ($offset + 1px)
        margin-left: - ($arrow-size + $offset + 1px)
        border-width: - @margin-left
        border-color: $bgcolor transparent
