// Colors
color-default = #000//
color-active = #66AFE9//
color-background-panel=#fff
color-background-head=#fafafa
color-background-body=#efefef
color-background-body-hover=lightness(color-background-body,88%)
color-background-btn-inactive=#e6e6e6

color-border = #CCC//
color-border-dark = lightness(color-border,65%)
color-border-darker = lightness(color-border,55%)
//color-text-inactive = lightness(color-text-default,40%)
color-text-active = #000
color-text-default = lightness(color-text-active,25%)//
color-text-hint = lightness(color-text-default,55%)

offset-shadow-light =1px
width-shadow-light = 6px
color-shadow-light = rgba(#000,0.24)

offset-shadow-normal =8px
width-shadow-normal = 17px
color-shadow-normal = rgba(#000,0.39)

// Fonts
font-sans =  Helvetica, "思源黑体 CN", "文泉驿微米黑", Arial, "Microsoft Yahei", sans-serif
font-size = 14px
line-height = 1.6em

// gap
base-gap = 1em
half-gap = base-gap/2
// Media queries
mq-small = "screen and (max-width: 768px)"
mq-medium = "screen and (min-width: 769px) and (max-width: 991px)"
mq-large = "screen and (min-width: 992px)"
