//Created by kevin on 15-6-23.
include ./utils.jade
doctype html
html(lang="zh-CN")
    head
        meta(charset="UTF-8")
        //load style
        +_style('font-awesome.min','index')
    body
        include ./partial/head.jade
        include ./partial/body.jade
        #footer
        //load script
        //script(src='http://cdn.bootcss.com/react/0.14.0-beta3/react.js')
        script(src='script/index.js')
